<div class="loaderFrame" ng-hide="dataLoaded">
    <p class="loader"></p>
</div>
<div ng-controller="DepartmentController as Department" class="row">
    <h2>Department</h2>

    <div class="col-lg-12">
        <form ng-submit="submit()">
            <div class="form-group">
                <label for="DepartmentName">Enter Department Name:</label>
                <input class="form-control" id="DepartmentName" type="text" ng-model="department.Name" name="text" />
            </div>
            <input type="submit" id="submit" value="Submit" class="btn btn-default" />
        </form>
        <br />
    </div>
    <div class="col-lg-12">
        <input class="form-control" type="text" placeholder="Search" ng-model="search" />
    </div>
    <div class="col-lg-12">
        <table class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Sr.No
                    </th>
                    <th>
                        Department Name
                    </th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="department in departments | filter:search ">
                    <td>{{$index + 1}}</td>
                    <td>{{department.Name}}</td>
                    <td>
                        <a href="#" ng-click="EditDepartment(department.DepartmentId)">Edit</a>
                        <a href="#" ng-click="DeleteDepartment(department.DepartmentId)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

